# Flask==3.1.2
# flask_cors==6.0.1
# joblib==1.5.2
# matplotlib==3.10.8
# mlflow==3.6.0
# mlflow_skinny==3.6.0
# mlflow_tracing==3.6.0
# nltk==3.9.1
# nltk==3.9.2
# numpy==2.3.5
# pandas==2.3.3
# wordcloud==1.9.4

boto3==1.35.36
Flask==3.0.3
Flask_Cors==5.0.0
joblib==1.4.2
lightgbm==4.5.0
matplotlib==3.9.2
mlflow==2.17.0
mlflow_skinny==2.17.0
nltk==3.9.1
numpy==2.1.2
pandas==2.2.3
wordcloud==1.9.3